
/* Card Styles */
.amazon_ad_area {
  width: 100%; 
  height: 100%;
  margin: 0;
  padding: 0;
}
.ad-cards-container {
  flex:1;
  display: flex;
  height: 100%;
  min-width: 100%;
  background: #fff;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  overflow: hidden;
}
.ad-cards-container img {
  border: 0;
  vertical-align: middle;
}
.ad-cards-container .a-card {
  display: flex;
  flex-direction: column;
  flex:1;
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #0f1111;
  vertical-align: top;
  align-items: center;
  position: relative;
}
.ad-cards-container .a-card-img-container {
  display: flex;
  flex:1;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.ad-cards-container .a-card-desc-container {
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  position: relative;
  width: 100%;
}

.ad-cards-container .a-card img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ad-cards-container .a-card .a-link-normal {
  text-decoration: none;
  color: #2162a1;
}

.ad-cards-container .a-card .a-link-normal:hover {
  text-decoration: underline;
}

.ad-cards-container .a-card .css-line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
  line-height: 20px;
}

.ad-cards-container .a-card .a-color-price {
  color: #b12704;
  font-size: 14px;
}

.ad-cards-container .a-card .a-size-small {
  font-size: 12px;
}

.ad-cards-container .a-card .a-size-super-small {
  font-size: 10px;
}

.ad-cards-container .a-card .a-row {
  width: 100%;
  overflow: hidden;
}
.ad-cards-container .a-card-rating-container {
  display: flex;
  gap: 10px;
  align-items: center;
}
.ad-cards-container .a-card-updated{
  position: absolute;
  bottom: 0;
  right: 10px;
  line-height: 20px;
}

/* Stars Styles */
.ad-cards-container .stars-container {
  display: flex;
  font-size: 18px;
  line-height: 1;
}

.ad-cards-container .stars-container .star {
  color: #ccc; /* 기본 회색 */
}

.ad-cards-container .stars-container .star.half {
  background: linear-gradient(to right, gold 50%, #ccc 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ad-cards-container .stars-container .star.filled {
  color: gold; /* 채워진 별의 색 */
}


.ad-cards-container.ad-cards-container--row .a-card {
  flex-direction: row;
}

.ad-cards-container.ad-cards-container--row .a-card-img-container {
  height: 100%;
  flex: 0 0 var(--amazon_ad_area-img-width, 150px);
}

.ad-cards-container.ad-cards-container--row .a-card-desc-container {
  flex: 1;
  height: 100%;
  padding: 5px;
}

.ad-cards-container.ad-cards-container--row .a-row-rating {
  line-height: 15px;
}

.ad-cards-container.ad-cards-container--row .stars-container {
  font-size: 12px;
  line-height: 1;
}